.basicIntro
{
    border-style:solid;
    border-color:black;
    border-radius:12px;
    border-width:2px;
    padding:5px 10px 5px 10px;
    margin-left:5px;
    margin-top:50px;
    margin-right:5px;
    background-color: rgb(176, 176, 176);
}
img
{
    width: 100px;
    height: auto;
    margin-top: 40px;
    
}

#content-left
{
    display: inline-block;
    vertical-align:top;
    width:300px;
    height:400px;
    margin-top:20px;
    margin-left:20px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    
}
#content-right
{
    display: inline-block;
    margin-left:200px;
}
