

.basicIntro
{
    border-style:double;
    border-color:black;
    border-radius:12px;
    border-width:10px;
    padding:5px 10px 5px 10px;
    margin-left:5px;
    margin-top:40px;
    margin-right:5px;
    background-color: rgb(198, 198, 198);
    /* display:inline-block;
    width:1000px;
    height:auto; */
    
}

h1
{
    
    font-family:'Ubuntu', sans-serif;
    
    text-align:center;
    
    
}
#content-left
{
    display: inline-block;
    background-color: grey;
    padding:15px;
    border: 2px solid black;
    border-radius:12px;
    width:300px;
    height:400px;
    margin-top:20px;
    margin-left:20px;
    margin-bottom:20px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    
}
#content-right-top
{
    display: inline-block;
    border:2px solid black;
    padding:5px;
    background-color: grey;
    border-radius: 12px;
    font-family: 'Ubuntu', sans-serif;
    position:relative;
    bottom:173px;
    left:488px;

    
}
#content-right-bottom
{
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    border:2px solid black;
    border-radius:12px;
    background-color:grey;
    padding:5px;
    position:relative;
    left:309px;
    

}
